html {
    border-style:double;
    border: 15px:ffacae;
    border-radius: 15px;
    color:#ff8c90;
    height:auto;
    width:auto;
}

body {
    font-family: system-ui;
    background: #ffffff;
    color:#ff8c90;
    text-align: center;
  }

button{
  border-radius: 5px;
  border: 2px double #ff8c90;
  font-size: 50px;
  font-family: system-ui;
  background: #ffffff;
  color:#ff8c90;
}
